node_modules
dist
dist-ssr
*.local
*.tsbuildinfo
/vite.config.js
/vite.config.d.ts
.env
.env.local
.DS_Store
.vscode/*
!.vscode/extensions.json
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
supabase/.branches
supabase/.temp
